{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}


{% block content %}
    

    <div class="col-lg-4 col-md-6 p-4">
        <div class="card border-primary rounded custom-shadow">
            <img src="{% static "/deps/images/goods/set of tea table and three chairs.jpg" %}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{% static "/goods/product.html" %}">
                    <p class="card-title">Чайный столик и три стула</p>
                </a>
                <p class="card-text text-truncate">Комплект из трёх стульев и дизайнерский столик для гостинной комнаты.</p>
                <p class="product_id">id: 02265</p>
                <div class="d-flex justify-content-between">
                    <p><s>100</s> $</p>
                    <p><strong>90.00 $</strong></p>
                    <!-- <p><strong>100.00 $</strong></p> -->
                    <a href="#" class="btn add-to-cart">
                        <img class="mx-1" src="{% static "/deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                            width="32" height="32">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 p-4">
        <div class="card border-primary rounded custom-shadow">
            <img src="{% static "/deps/images/goods/set of tea table and three chairs.jpg" %}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="../goods/product.html">
                    <p class="card-title">Чайный столик и три стула</p>
                </a>
                <p class="card-text text-truncate">Комплект из трёх стульев и дизайнерский столик для гостинной комнаты.</p>
                <p class="product_id">id: 02265</p>
                <div class="d-flex justify-content-between">
                    <p><s>100</s> $</p>
                    <p><strong>90.00 $</strong></p>
                    <!-- <p><strong>100.00 $</strong></p> -->
                    <a href="#" class="btn add-to-cart">
                        <img class="mx-1" src="{% static "/deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                            width="32" height="32">
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block footer %}
<footer class="py-1 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock footer %}
