{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}


{% block content %}
    
    {% for product in goods%}
    <div class="col-lg-4 col-md-6 p-4">
        <div class="card border-primary rounded custom-shadow">
            
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'deps/images/Not found image.png' %}" alt="...">
            {% endif %}
            <div class="card-body">
                <a href="{% url 'goods:product' product.slug %}">
                    <p class="card-title">{{ product.name }}</p>
                </a>
                <p class="card-text text-truncate">{{ product.desription }}</p>
                <div class="d-flex justify-content-between">

                    {% if product.discount%}
                        <p><s>{{ product.price }}</s> грн</p>
                        <p><strong>{{ product.total_price }} грн</strong></p>
                        <span class="badge bg-warning text-dark">Скидка {{ product.discount }}</span>
                    {% else %}
                        <p><strong>{{ product.price }} грн</strong></p>
                    {% endif %}

                    <a href="#" class="btn add-to-cart">
                        <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg' %}" alt="Catalog Icon"
                            width="32" height="32">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}


{% block footer %}
<footer class="py-1 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock footer %}
